<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
      <!-- links css -->

      <!--GOOGLE ICONS-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--FONT AWESOME ICONS-->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- MATERIALIZE CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <!-- CUSTOM CSS PROF -->
        <link rel="stylesheet" type="text/css" href="css/custom_aluno.css">

        <link rel="stylesheet" href="./containers/header.css">
        <link rel="stylesheet" href="./containers/conteudo.css">
        <!--
        <link rel="stylesheet" href="./reset/normalize.css">
        <link rel="stylesheet" href="./containers/grid.css">
        
        <link rel="stylesheet" href="./containers/nav.css">
        -->

    <link rel="icon" href="./img/fav.png ">
    <title>Fiedd - Perfil do Aluno </title>
  </head>
  <body>

    <%- menualuno %>

      <header class="header box effect">
        <h1 style="color: #ffffff;">Perfil Do Aluno</h1>
      </header>
  <section class="container_form">
    

    <table class="content-table">
    <thead>
      <tr>
        <th colspan="4">Dados Pessoais</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Matricula: </th>
        <td colspan="3"><%= infos.matricula %></td>
      </tr>
      <tr>
        <th>Nome: </th>
        <td colspan="3"><%= infos.nome %></td>
      </tr>
      <tr>
        <th>Curso: </th>
        <td colspan="3"><%= infos.turma %></td>
      </tr>
      <tr>
        <th>Serie: </th>
        <td colspan="3"><%= infos.serie %> º ano do ensino médio</td>
      </tr>
      <form action="/dashboard_aluno/alterar_perfil_aluno" method="POST">
      <tr>
        <th>Email: </th>
        <td><%= infos.email %></td>
        <td><input type="text" id="" name="email_novo" placeholder="Novo Email" value=""></td>
        <td><input type="text" id="" name="email_novo_conf" placeholder="Confirme o Novo Email" value=""></td>
      </tr>
      <tr>
        <th>Senha: </th>
        <td><input type="text" id="" name="senha_atual" placeholder="Senha Atual" value=""></td>
        <td><input type="text" id="" name="senha_nova" placeholder="Nova Senha" value=""></td>
        <td><input type="text" id="" name="senha_nova_conf" placeholder="Confirme a Nova Senha" value=""></td>
      </tr>
    
      
    </tbody>
    
  </table>
        <input style="margin-left:80%;"type="submit" class="submit" name="" value="Alterar Dados do Perfil">
      </form>
     </section>

     <!-- FIM DA SERVIÇOS SECTION -->
    <!-- JQUERY JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- MATERIALIZE JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript">
      //MENU MOBILE
      $(".button-collapse").sideNav();
    </script>
    
  </body>
</html>